<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace即使不用到这个属性也不能为空 -->
<mapper namespace="com.wsh.basics.supplier.mapper.SupplierMapper">

	<select id="searchPartnerPage" resultType="com.wsh.basics.supplier.model.SupplierVo">
		select id,code partnerCode,name partnerName from supplier
		<where>
			<if test="partnerCode != null and partnerCode != ''">
				and code like concat("%",#{partnerCode},"%")
			</if>
			<if test="partnerName != null and partnerName != ''">
				and name like concat("%",#{partnerName},"%")
			</if>
		</where>
		order by createTime desc
		limit #{offset},#{pageSize}
	</select>
	<select id="queryCount" resultType="java.lang.Integer">
		select COUNT(id) from supplier
		<where>
			<if test="partnerCode != null and partnerCode != ''">
				and code like concat("%",#{partnerCode},"%")
			</if>
			<if test="partnerName != null and partnerName != ''">
				and name like concat("%",#{partnerName},"%")
			</if>
		</where>
	</select>
</mapper>