<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace即使不用到这个属性也不能为空 -->
<mapper namespace="com.wsh.springboot.replacement_threshold.mapper.ReplacementThresholdMapper">

    <select id="queryData" resultType="com.wsh.springboot.replacement_threshold.model.ReplacementThresholdVo">
        SELECT
        t.thresholdId,
        t.version,
        r.replacementCode,
        r.replacementName,
        r.unit,
        r.subclassName,
        t.threshold,
        r.status,
        r.borrow,
        r.sale,
        t.remark,
        l.legalPersonName,
        t.createName,
        t.createTime,
        t.changeName,
        t.changeTime
        FROM legalperson_user lu
        LEFT JOIN  legalperson l
        ON lu.legalPersonId = l.id
        LEFT JOIN threshold t
        ON t.legalpersonCode = l.legalpersonCode
        LEFT JOIN replacement r
        ON r.replacementCode = t.replacementCode
        <where>
            and lu.userId=1
            <if test="legalPersonCode !=null and legalPersonCode !=''">
                and l.legalPersonCode = #{legalPersonCode}
            </if>
            <if test="replacementCode !=null and replacementCode !=''">
                and r.replacementCode like concat("%",#{replacementCode},"%")
            </if>
            <if test="replacementName !=null and replacementName !=''">
                and r.replacementName like concat("%",#{replacementName},"%")
            </if>
            <if test="subclassName !=null and subclassName !=''">
                and r.subclassName like concat("%",#{subclassName},"%")
            </if>
            <if test="thresholdBegin !=null and thresholdBegin !=''">
                and t.threshold &gt;= #{thresholdBegin}
            </if>
            <if test="thresholdEnd !=null and thresholdEnd !=''">
                and t.threshold &lt;= #{thresholdEnd}
            </if>
            <if test="changeName !=null and changeName !=''">
                and r.changeName like concat("%",#{changeName},"%")
            </if>
            <if test="changeTimeBegin != null">
                and t.changeTime &gt;= #{changeTimeBegin}
            </if>
            <if test="changeTimeEnd != null">
                and t.changeTime &lt;= #{changeTimeEnd}
            </if>
        </where>
        order by t.createTime desc
        limit #{offset},#{pageSize}
    </select>

	<select id="queryCount" resultType="java.lang.Integer">
        SELECT COUNT(r.replacementId)
        FROM legalperson_user lu
        LEFT JOIN  legalperson l
        ON lu.legalPersonId = l.id
        LEFT JOIN threshold t
        ON t.legalpersonCode = l.legalpersonCode
        LEFT JOIN replacement r
        ON r.replacementCode = t.replacementCode
        <where>
            and lu.userId=1
            <if test="legalPersonCode !=null and legalPersonCode !=''">
                and l.legalPersonCode like concat("%",#{legalPersonCode},"%")
            </if>
            <if test="replacementCode !=null and replacementCode !=''">
                and r.replacementCode like concat("%",#{replacementCode},"%")
            </if>
            <if test="replacementName !=null and replacementName !=''">
                and r.replacementName like concat("%",#{replacementName},"%")
            </if>
            <if test="subclassName !=null and subclassName !=''">
                and r.subclassName like concat("%",#{subclassName},"%")
            </if>
            <if test="thresholdBegin !=null and thresholdBegin !=''">
                and t.threshold &gt;= #{thresholdBegin}
            </if>
            <if test="thresholdEnd !=null and thresholdEnd !=''">
                and t.threshold &lt;= #{thresholdEnd}
            </if>
            <if test="changeName !=null and changeName !=''">
                and r.changeName like concat("%",#{changeName},"%")
            </if>
            <if test="changeTimeBegin != null">
                and t.changeTime &gt;= #{changeTimeBegin}
            </if>
            <if test="changeTimeEnd != null">
                and t.changeTime &lt;= #{changeTimeEnd}
            </if>
        </where>
	</select>

    <insert id="add">
        insert into threshold(legalpersonCode,replacementCode,threshold,remark,createName,createTime,changeName,changeTime)
        values (#{legalPersonCode},#{replacementCode},#{threshold},#{remark},#{createName},#{createTime},#{changeName},#{changeTime})
    </insert>

<!--    <insert id="add">-->
<!--        insert into suppliers(legalPlantCode,legalPlantDec,legalPersonCode,enabled,createName,createTime,updateName,updateTime)-->
<!--        values (#{legalPlantCode},#{legalPlantDec},#{legalPersonCode},#{enabled},#{createName},#{createTime},#{updateName},#{updateTime})-->
<!--    </insert>-->


</mapper>