<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 管理SQL用的 -->
 <!-- namespace即使不用到这个属性也不能为空 -->
<mapper namespace="com.example.inventory.warehouse.mapper.WarehouseMapper">
    <select id="queryData" parameterType="com.example.inventory.warehouse.model.WarehouseSelectVo" resultType="com.example.inventory.warehouse.model.WarehouseVo">
        select
        w.code,
        w.name,
        w.status,
        w.id,
        w.remark,
        a.area areaName,
        n.nation nationName,
        p.province provinceName,
        c.city cityName,
        ct.county countyName,
        w.detailAddress,
        w.createName,
        w.createTime,
        w.changeName,
        w.changeTime,
        wt.remark
        wareHouseTagRemark
        from warehouse w
        left join warehousetag wt
        on w.warehouseTagCode=wt.code
        Left Join area a
        ON a.id = w.area
        Left Join nation n
        ON n.id = w.nation
        Left Join province p
        ON p.id = w.province
        Left Join city c
        ON c.id = w.city
        Left Join county ct
        ON ct.id = w.county
        <where>
            <if test="name !=null and name !=''">
                and w.name like concat("%",#{name},"%")
            </if>
            <if test="code !=null and code !=''">
                and w.code like concat("%",#{code},"%")
            </if>
            <if test="remark !=null and remark !=''">
                and w.remark like concat("%",#{remark},"%")
            </if>
            <if test="status !=null">
                and w.status=#{status}
            </if>
        </where>
        order by createTime desc
        LIMIT #{offset},#{pageSize}
    </select>
    <select id="queryCount" resultType="java.lang.Integer">
        select count(w.id) from warehouse w left join warehousetag wt on w.warehouseTagCode=wt.code
        <where>
            <if test="name !=null and name !=''">
                and name like concat("%",#{name},"%")
            </if>
            <if test="code !=null and code !=''">
                and code like concat("%",#{code},"%")
            </if>
            <if test="remark !=null and remark !=''">
                and remark like concat("%",#{remark},"%")
            </if>
            <if test="status !=null">
                and status=#{status}
            </if>
        </where>
    </select>
</mapper>